<footer id="footer" role="contentinfo">
    <div> <%= date(new Date(), 'YYYY') %> <a href="/"><%= config.title %></a>.<br>
     <%= __('تمامی مطالب وبلاگ تحت مجوز') %> <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a> <%= __('منتشر شده‌اند.') %><br>
     <%= __('با افتخار قدرت گرفته از ') %> <a href="http://hexo.io/" target="_blank">Hexo</a>.

	</div>
</footer><!-- end #footer -->
